---
layout: page
title : Linda Roesch
header-img: "img/home-bg.jpg"
description: "Informatics Fellow"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			<b>Contribute meaningfully as civil servant, as an employee, and to the lives of people I care most about.</b>
  			
		</p>
		<p>  In 2013 I received an amazing opportunity
to join the Centers for Disease Control and Prevention (CDC) as a Research Fellow.
I packed up and moved from Chicago (really cold winters) to Atlanta (really hot
summers). Three years later I was accepted into the CDC Public Health Informatics
			Fellowship. </p>

<p> In this role, I am committed to
arming public health programs with the infrastructure and information they need
to improve the effectiveness of their services and continue to seek to understand
different frameworks and best practice that will help identify, analyze, and
visualize information that can influence change and effectively communicate work
to others.
		</p>

 

<p>
In my free time, my partner and I take our dogs, Sherlock,
Fletcher, and Star to the Chattahoochee for a day of hiking and swimming, and
love everything classic murder mystery (hence dog names; Sherlock in honor of Sherlock
Homes and Fletcher in honor of J.B Fletcher, Murder, She Wrote).


 
 </p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>My Projects</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
